body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    font-size: 17px; /* Ajusta el tamaño de fuente general */
}

.container {
    max-width: 500px; /* Ajusta el ancho máximo del contenedor */
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px; /* Ajusta el espacio de relleno */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h4 {
    text-align: center;
    margin-bottom: 40px; /* Ajusta el espacio inferior del título */
    color: #332;
    font-size: 24px; /* Ajusta el tamaño de fuente del título */
}

.form-group {
    margin-bottom: 30px; /* Ajusta el espacio entre grupos de formulario */
}

.form-control {
    border: 2px solid #ccc; /* Ajusta el grosor del borde */
    border-radius: 8px; /* Ajusta el radio de borde */
    padding: 20px; /* Ajusta el espacio de relleno */
    font-size: 18px; /* Ajusta el tamaño de fuente */
    width: 100%;
    box-sizing: border-box;
}

select.form-control {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%232c3e50" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 15px);
    background-position-y: center;
    padding: 15px; /* Ajusta el espacio de relleno */
    font-size: 18px; /* Ajusta el tamaño de fuente */
    width: 100%;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px 30px; /* Ajusta el espacio de relleno */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px; /* Ajusta el tamaño de fuente */
    border-radius: 8px; /* Ajusta el radio de borde */
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #45a049;
}
